
#to{
	width:650px;
	height: 600px;
	text-align: center;

}
.ti{
	width:200px;
	height: 200px;
	text-align: center;


}
.tdi{
	width:20px;	
}

table{
	margin: auto;
	border:solid black;
}
#div2{
	margin: 0 450px;
}
