body{
  background-image: url("sudoku.jpeg") ;   
}
table {
  border-collapse:collapse;
   
}
.t0,.t2,.t4,.t6,.t8{
background-image: url("sudoku1.jpg");
}
.t1,.t3,.t5,.t7{
  background-image: url("sudoku2.jpeg");
}
td {
  padding: 0;
  vertical-align: top;
}
.big-box {
  border-style: solid;
  border-width: 2px;
  position: relative;
  margin:auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.cell {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-width: 1px;
  font-size: 16pt;
  text-align: center;
  vertical-align:middle;
  font-family:  sans-serif;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.24);

}

.center {
  text-align: center;
  vertical-align:middle;
  font-family: Trebuchet MS Comic Sans MS  ;
}
td.button a {
  display: block;
  background: #006699;
  border: 2px outset #006699;
  text-decoration: none;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: #FFFFFF;
}
td.button a:hover {
  background: #0099CC;
  border-color: #000000;
}
img {
  cursor: hand;
}
.warning {
  color: red;
  font:bold;
}

 
}
